notifications:
  email: false

language: python
python:
  - "3.6"
cache: pip

matrix:
  include:
    - sudo: required
      services:
        - docker
      env: DOCKER_IMAGE=quay.io/pypa/manylinux1_x86_64
           PLAT=manylinux1_x86_64
    - sudo: required
      services:
        - docker
      env: DOCKER_IMAGE=quay.io/pypa/manylinux1_i686
           PRE_CMD=linux32
           PLAT=manylinux1_i686
    - sudo: required
      services:
        - docker
      env: DOCKER_IMAGE=quay.io/pypa/manylinux2010_x86_64
           PLAT=manylinux2010_x86_64

install:
  - docker pull $DOCKER_IMAGE

script:
  - docker run --rm -e PLAT=$PLAT -v `pwd`:/io $DOCKER_IMAGE $PRE_CMD /io/travis/build-wheels.sh
  - ls wheelhouse/
  - if [ ! "$TRAVIS_PULL_REQUEST" = "false" ]; then
    python setup.py sdist;
    travis/deploy_transfer.sh;
    fi

deploy:
  provider: script
  script:
    python3 setup.py bdist_wheel;
    python3 setup.py upload
  on:
    branch: packaging
    condition: $TRAVIS_BRANCH == "packaging" || -n $TRAVIS_TAG
